<footer>
      <section class="social text-center">
        <div class="container">
            <ul>
                <li><img src="images/icons/icons8-facebook-96.png" title="facebook"></li>
                <li><img src="images/icons/icons8-twitter-80.png" title="twitter"></li>
                <li><img src="images/icons/icons8-instagram-96.png" title="instagram"></li>
            </ul>
        </div>

    </section>
    <!-- Social Section Ends Here -->

    <!-- Footer Section Starts Here -->
    <section class="footer text-center">
        <div class="container">
            &copy;2022. All rights reserved. Site Designed by <a href="http://www.bitwildertech.ga">BitWilderTech</a>
        </div>

    </section>

</footer>