<footer style="background-color: black; height: 300px;">
    <div style="display: flex; height: 250px;" >
        <div style=" width: 50%; height: 100%;" >
            
        <section class="social text-center" style="margin-top: 30px;"> 
            <h2 style="color: rgb(233, 233, 128);">CONTACT US</h2>
            <p>Cơ sở</p>
            <div class="container">
                <ul>
                    <li><img src="/images/icons/icons8-facebook-96.png" title="facebook"></li>
                    <li><img src="/images/icons/icons8-twitter-80.png" title="twitter"></li>
                    <li><img src="/images/icons/icons8-instagram-96.png" title="instagram"></li>
                </ul>
            </div>

        </section>
        </div>
        <div style="width: 50%; height: 100%;">
        <section class="social text-center">
            <div class="container">
                <ul>
                    <li><img src="/images/icons/icons8-facebook-96.png" title="facebook"></li>
                    <li><img src="/images/icons/icons8-twitter-80.png" title="twitter"></li>
                    <li><img src="/images/icons/icons8-instagram-96.png" title="instagram"></li>
                </ul>
            </div>

        </section>
        </div>
    </div>
    <!-- Social Section Ends Here -->

    <!-- Footer Section Starts Here -->
    <section class="footer text-center">
        <div class="container">
            &copy;2022. All rights reserved. Site Designed by <a href="http://www.bitwildertech.ga">BitWilderTech</a>
        </div>

    </section>

</footer>