<footer style="background-color: black; width: 100%; height: 100%;">
    <div style="display: flex;background-color: rgba(245, 238, 238, 0.041); " >
        <div style=" width: 33%; height: 100%; " >
            
            <section class="social text-center"> 
                
                <img style="border-radius: 50%; width: 50%; margin-top: 15%; margin-left: 5%;" src="https://res.cloudinary.com/dk41ftplg/image/upload/v1702115597/Restaurant-Food/s9qgf6xrnartuwl45mji.jpg" alt="">
                    <div class="container">
                        <ul>
                            <li><img style="width: 15%;" src="/images/icons/YouTube-icon-SVG-removebg-preview.png" title="youtube"></li>
                            <li> <a href="https://www.facebook.com/haisancomnieubomrestaurant"><img style="width: 10%;" src="/images/icons/icons8-facebook-96.png"  title="facebook"></a></li>
                            <li><img style="width: 10%;" src="/images/icons/icons8-twitter-80.png" title="twitter"></li>
                            <li><img  style="width: 10%;"src="/images/icons/icons8-instagram-96.png" title="instagram"></li>
                        </ul>
                        
                    </div>
            

            </section>
        </div>
        <div style=" width: 33%; height: 100%; " >
            
        <section class="social text-center" style="margin-top: 15%;"> 
            <h3 style="color: rgb(233, 233, 128); font-style: italic;">CONTACT US</h3>
            <p style="color: whitesmoke">ĐỊA CHỈ: </p>
            <p style="color: whitesmoke">HOTLINE: </p>
            <p style="color: whitesmoke">GMAIL: </p>
            <p style="color: whitesmoke">THỜI GIAN LÀM VIỆC:</p>
             
           

        </section>
        </div>
        <div style="width: 33%; ">
            
               
             
                        <iframe style="width: 90%; margin-top: 5%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.2117208268764!2d108.19840447408977!3d10.947373456019216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317685ef1f4872a3%3A0x86da89e18c8e8204!2zQuG7nW0gUmVzdGF1cmFudCAtIEjhuqNpIHPhuqNuIC0gQ8ahbSBuacOqdSBQaGFuIFRoaeG6v3Q!5e0!3m2!1svi!2s!4v1702107025324!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               
            
        </div>
    </div>
    <!-- Social Section Ends Here -->

    <!-- Footer Section Starts Here -->
    <section class="footer text-center">
        <div class="container">
            &copy;2022. All rights reserved. Site Designed by <a href="http://www.bitwildertech.ga">BitWilderTech</a>
        </div>

    </section>

</footer>