<footer style="background-color: black; height: 300px;">
    <div style="display: flex; height: 250px;" >
        <div style=" width: 50%; height: 100%; background-color: rgba(255, 255, 255, 0.03);" >
            
        <section class="social text-center" style="margin-top: 30px;"> 
            <h3 style="color: rgb(233, 233, 128); font-style: italic;">CONTACT US</h3>
            <p style="color: whitesmoke">CƠ SỞ: </p>
            <p style="color: whitesmoke">HOTLINE: </p>
            <p style="color: whitesmoke">THỜI GIAN LÀM VIỆC:</p>

           

        </section>
        </div>
        <div style="width: 50%; height: 100%;">
        <section class="social text-center" style="margin-top: 30px;">
            <h3 style="color: rgb(233, 233, 128); font-style: italic;">FOLLOW US</h3>
            <p style="color: whitesmoke">Join us on social networks</p>
            <div class="container">
                <ul>
                    <li><img src="/images/icons/YouTube-icon-SVG-removebg-preview.png" title="youtube"></li>
                    <li><img src="/images/icons/icons8-facebook-96.png" title="facebook"></li>
                    <li><img src="/images/icons/icons8-twitter-80.png" title="twitter"></li>
                    <li><img src="/images/icons/icons8-instagram-96.png" title="instagram"></li>
                </ul>
            </div>

        </section>
        </div>
    </div>
    <!-- Social Section Ends Here -->

    <!-- Footer Section Starts Here -->
    <section class="footer text-center">
        <div class="container">
            &copy;2022. All rights reserved. Site Designed by <a href="http://www.bitwildertech.ga">BitWilderTech</a>
        </div>

    </section>

</footer>