<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    

  
    <!-- Food Search Section Ends Here -->

    <!-- Categories Section Starts Here -->
    
        <div class="conta">
           
         
                <div class="box-3 float-container">
                    <img src="images/pizza.jpg" style="width: 500px; height: 500px; " alt="pizza" class="img-responsive img-curve">

                    <h3 class="float-text text-white">Pizza</h3>
                </div>
           
         
                <div class="box-3 float-container">
                    <img src="images/burger.jpg" alt="burger" style="width: 500px; height: 500px; " class="img-responsive img-curve">

                    <h3 class="float-text text-white">Burger</h3>
                </div>
            
             
                <div class="box-3 float-container">
                    <img src="images/momo.jpg" alt="momo" style="width: 500px; height: 500px; " class="img-responsive img-curve">

                    <h3 class="float-text text-white">Momo</h3>
                </div>
            
            
            <div class="clearfix"></div>
        </div>

    <div class="card bg-white text-white" >
        <img src="https://res.cloudinary.com/dk41ftplg/image/upload/v1688535854/cld-sample.jpg" style="height: 500px;" class="card-img" alt="...">
        <div class="card-img-overlay"  >
            <div style="display: flexbox; background-color: rgba(48, 47, 47, 0.473); ; margin-top: 35px; width: 600px; height: 400px; text-align: center; margin-left: 500px;">
               <div style="color: rgba(0, 0, 0, 0.432);">------------------------------</div>
                <h5 class="card-title" style="margin-top: 30px;">QUAN CƠM NGON TẠI PHAN THIẾT</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
    <!-- Categories Section Ends Here -->

    <!-- Food Menu Section Starts Here -->
    <section class="food-menu" >
        <div class="container" >
            <div style="display: flex; align-items: center;justify-content: center;">
                <span style="height: 2px; width: 36%; background-color: #999; "></span>
                <h2 class="text-titler" style="color: black; height: 50px; margin: 0 20px;">Món ăn nổi bật</h2>
                <span style="height: 2px; width: 36%; background-color: #999; "></span>
            </div>
            <div style="text-align: center;">
                -- Cơm Niêu Panda --
            </div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 30px;" >
                <div class="card mb-3" style="max-width: 540px; background-color: rgba(0, 0, 0, 0.185); width: 50%; margin-left: 70px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="images/menu-pizza.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body" style="color: black;" >
                            <a style="font-weight: bold;" >Card title</a>
                            <i class="card-text" style="color: rgb(148, 142, 142);" >-----------------------------  </i>
                            <i style="color: rgb(250, 47, 47)">Giá:</i>
                            <p class="card-text"><small class="text-muted">Mô tả: </small></p>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>

    </section>
    <!-- Food Menu Section Ends Here -->

    <!-- Social Section Starts Here -->
    
    <!-- Footer Section Ends Here -->
</body>
</html>