<div class="container-fluid body-table" >
        <div class="head">
            <h1>Danh sách slide</h1>
           
            
        </div>
        
        <div class="table-students">
            <table class="table" >
                <thead class="table-dark" >
                    <tr >
                   
                    <th scope="col" style="width: 50px;">#</th>
                    
                    <th scope="col" style="width: 150px ;text-align: center;">
                       Hình ảnh
                     </th>
                    <th scope="col" style="width: 150px ;text-align: center;">
                        Chỉnh sửa
                     </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each memories}}
                    <tr>
                    
                    <th scope="row"><span class="stt"></span></th>
                  

                    <td style="text-align: center;">
                        <img style="width:65px; height: 65px;" src="{{this.imgMemory}}" >

                    </td>
                    
                    <td style="text-align: center;">
                        <a href="/memory/{{this.id}}" class="btn btn-link ">Sửa</a>
                       
                    </td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
            
        </div>
    </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let stt = 1;
    const sttElements = document.querySelectorAll('span.stt');

    sttElements.forEach(function(element) {
      element.textContent = stt++;
    });
  });
 

    
  
</script>