
    <div class="form-input" style="min-height: 545px;">
        <h1 style="margin-left: 700px;">Thêm món ăn</h1>
        <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px; padding-right: 30px; ">
            <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
                <div class="col">
                    <label style="margin-bottom: 10px;">Tên món ăn</label>
                    <input type="text" class="form-control" id="nameFood" placeholder="Tên món ăn" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Giá</label>
                    <input type="text" class="form-control" id="price" placeholder="Giá" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Mô tả về món ăn</label>
                    <input type="text" class="form-control" id="moTa" placeholder="Mô tả" style="width: 500px;">
                </div>
                <div class="col ">
                    <label style="margin-bottom: 10px;">Loại món ăn</label>
                    <select class="form-control form-select mb-3" id="category" aria-label=".form-select-lg example" style="width: 500px;">
                        <option selected>--- Chọn loại món ăn ---</option>
                    {{#each Category}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    </select>
                </div>
                <div id="form-picture" class="col">
                    <div class="changeava">
                        <img id="imgFood" data-origin="https://res.cloudinary.com/dk41ftplg/image/upload/v1688965244/Teach-Node/wkz0upebb9k3danolvbc.png" src= "https://res.cloudinary.com/dk41ftplg/image/upload/v1688965244/Teach-Node/wkz0upebb9k3danolvbc.png" alt="" class="ava">
                            <div class="form-ava" style="margin-top: 40px;" >

                                <input type="file" class="image-user" id="imageUpload" name="img" accept=".jpg, .png" onchange="previewImage(this)"/><br>
                            </div> 
                    </div>    
                </div> 
            <div class="col ">
                    <label style="margin-bottom: 10px;">Nổi bật</label>
                    <select id="noiBat" class="form-control form-select mb-3" aria-label=".form-select-lg example" style="width: 500px;">
                        <option value="Có">Có</option>
                        <option value="Không">Không</option>
                    
                    </select>
            

                </div>
            </div>
            
        </div>    
        <div class="add" style="margin-top: 30px;">
            <button onclick="addFood()" class="btn btn-primary" style="margin-left: 350px; width: 1000px; height: 40px;" >Thêm</button>
        </div>
    </div>
    
<script>
    function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('#imgFood').attr('src', e.target.result);
    };

    if (input.files && input.files[0]) {
        reader.readAsDataURL(input.files[0]);
    }
}
        function addFood(){
            var ten = $('#nameFood').val();
            var gia = $('#price').val();
            var moTa = $('#moTa').val();
            var loai = $('#category').val();
            var anh = $('#imgFood').attr('src');
            var noiBat = $('#noiBat').val();
            var tenInHoa = ten.toUpperCase();
            var imageFile = $('#imageUpload')[0].files[0];
            var formData = new FormData();
             formData.append("file", imageFile);
             if (ten.trim() === '') {
            alert('Vui lòng nhập tên món ăn');
            return;
        }
        if(ten !== tenInHoa){
            alert("Món ăn buộc phải viết hoa toàn bộ");
            return;
        }
        if (gia.trim() === '' || isNaN(gia)) {
            alert('Vui lòng nhập giá hợp lệ');
            return;
        }

        if (moTa.trim() === '') {
            alert('Vui lòng nhập mô tả');
            return;
        }

        if (loai === '--- Chọn loại món ăn ---') {
            alert('Vui lòng chọn loại món ăn');
            return;
        }

        if (!imageFile) {
            alert('Vui lòng chọn hình ảnh');
            return;
        }
            $.ajax({
            url: '/foods/uploads', // Đổi thành đường dẫn bạn cần xử lý hình ảnh
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false
            })
            .then((cloudinaryResponse) => {
                // Lấy đường dẫn hình ảnh từ kết quả trả về Cloudinary
                var imageUrl = cloudinaryResponse.secure_url;
                 $.ajax({
                    url:'/foods/insertFood',
                        type:'POST',
                        data:{
                            nameFood:ten,
                            price:gia,
                            describe:moTa,
                            category:loai,
                            img: imageUrl,
                            noiBat:noiBat
                        }
                    })
                    .then(data =>{
                        alert("Thêm món ăn thành công");
                        window.location.href='/foods'
                    })
                    .catch(error=>{
                        alert("Lỗi")
                    })
                
            })
            .catch((error) => {
                alert('Lỗi khi tải lên hình ảnh');
                
            }); 
        }

    </script>
     
   