
<div class="form-input" style="min-height: 545px;">
    <h1 style="margin-left: 700px;">Thêm món ăn</h1>
    <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px;  ">
        <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
            <div class="col">
                <label style="margin-bottom: 10px;">Tên món ăn</label>
                <input type="text" class="form-control" placeholder="Tên món ăn" style="width: 500px;">
            </div>
            <div class="col">
                <label style="margin-bottom: 10px;">Giá</label>
                <input type="text" class="form-control" placeholder="Giá" style="width: 500px;">
            </div>
            <div class="col">
                <label style="margin-bottom: 10px;">Mô tả về món ăn</label>
                <input type="text" class="form-control" placeholder="Mô tả" style="width: 500px;">
            </div>
        </div>
    </div>    
</div>