<div class="mt-4" style="height: 800px;">
    <div class="form-write">
        
        <div class="form-row">
            <div class="col-md-6">
                <!-- Cột 1 -->
                <label for="item">Nhập tên khóa học</label>
                <input type="text" class="form-control" id="item" name="item">
                
                <!-- Các trường nhập khác tương tự cho cột 1 -->

            </div>
            <div class="col-md-6">
                <!-- Cột 2 -->
                <label for="item">Nhập tên khóa học</label>
                <input type="text" class="form-control" id="item" name="item">
                
                <!-- Các trường nhập khác tương tự cho cột 2 -->

            </div>
        </div>
        <div class="them" style="text-align: center; margin-top: 50px;">
            <button type="submit" onclick="addCourse()" class="btn btn-outline-success" style="width: 100%;">Thêm</button>
        </div>
    </div>
</div>
