<div class="container" style="min-height: 500px; min-width: 900px;">
    <div class="container-fluid" style="background-color: whitesmoke; width:60%; height: 300px; border-radius: 5%; margin-top: 5%;" >
        <div class="container" style="text-align: center;">
            <h1>Xác nhận</h1>
        </div>    
        <div class="container" style="margin-left: 7%;" >
            <div class="mb-3 row " >
                <label  class="col-sm-2 col-form-label">Mã xác nhận</label>
                <div class="col-sm-5" >
                <input type="username" class="form-control" id="userName" >
                </div>
                 <button onclick="sendMa('{{user.userName}}','{{sessionId}}')" class="btn btn-primary" style=" width: 20%; ">Gửi mã</button>   
            </div>


            
        </div> 
        <div class="container-fluid" style="text-align: center;">
            <button onclick="login('{{user.userName}}','{{sessionId}}')" class="btn btn-primary" style="margin-top: 3%; width: 90%; ">Xác nhận</button>
             
        </div>   
    </div>
   
</div>
<script>
    function checkCookie() {
    let user = getCookie("token");
    if (user !== "") {
        
        window.location.href="/"
        
    } 
}
checkCookie();
   function sendMa(user,session) {
        $.ajax({
            url: "/user/sendEmail",
            type: "POST",
            data: {
                userName: user,
            }
        })
        .then(data =>{
            if(data.code === 200){
                alert(data.message);
            }
            else{
                alert("Gửi mã xác thực thất bại !!!");
            }
        })
        .catch(err =>{
            alert("Error");
        })
   }
   function login(tk,session){
        var ma = $("#userName").val();
        if(ma.trim() === ''){
            alert("Vui lòng nhập mã");
            return;
        }
        $.ajax({
                    url:"/user/checkMa/"+ tk,
                    type:"POST",
                    data:{
                        vertical: ma
                    }
                })
                .then(data => {
                    if(data.code === 200)
                    {
                        setCookie("token",data.token,1);
                        console.log(data.session)
                        window.location.href="/";
                    }
                    else if(data.code === 500){
                        alert("Sai mã xác thực");
                        
                    }
                })
                .catch(error => {
                    alert("Mã xác nhận không đúng");
                })
    }

</script>
{{!--    --}}