<div class="container mt-5" style="min-height: 500px;">
    <div class="avatar">
        <div class="HoTen">
            <h1>{{users.userName}}</h1>
            <p>Update your username and manage your account</p>
        </div> 
    </div> 
    <div class="col-lg-12 menu-and-treatment" style="display: flex; sans-serif;">
        <div class="col-lg-4" style="margin-top: 10px; border-right: 2px solid #000;">
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;" href="/user/account/general">General</a></div>
            <div class='menu-item general active'><a class="dropdown-item" style="width: 300px; margin-left: 1px;" href="/user/account/password">Password</a></div>
        </div>
        {{!-- <div class="col-lg-1" style=""></div> --}}
        <div class="col-lg-8 "  style="margin-left: 5%;">
           
                
               <div class="form-group" style="margin-top: 15px;">
                    <label for="password">Old Password</label>
                    <input type="password" class="form-control" id="oldPassword"  > 
                </div>
                <div class="form-group" style="margin-top: 5%;">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword"  >
                </div>
                <div class="form-group" style="margin-top: 5%;">
                    <label for="password">Confirm New Password </label>
                    <input type="password" class="form-control" id="rePassword" name="password" >
                </div>
                <button onclick="saveChange()" type="submit" class="btn btn-primary" style="float: right; margin-top: 5%;">Save Change</button>
            

        </div>
    </div>
</div>
<script>
    function saveChange() {
        
        var passWord = $('#newPassword').val();
        var oldPass = $('#oldPassword').val();
        var rePass = $('#rePassword').val();
        if(passWord.trim()=== '' || oldPass.trim() === '' || rePass.trim()=== ''){
            alert('Vui lòng nhập vào form để thay đổi PassWord')
            return;
        }
        if(passWord.length > 12 || oldPass.length > 12 || rePass.length > 12) {
            alert("Mật khẩu không quá 12 ký tự");
            return;
        } 
        if(passWord != rePass)
        {
            alert('NewPassword và RePassWord không giống nhau')
            return;
        }

        $.ajax({
            url:"/user/checkPassWord",
            type:"POST",
            data: {
                passWord: oldPass
            }
        })
        .then(re =>{
            if(re.code === 200){
                $.ajax({
                    url:"/user/updatePassword",
                    type:"PUT",
                    data: {
                        passWord: rePass
                    }
                })
                .then(data =>{
                    if(data.code === 200){
                        alert(data.message);
                        window.location.reload();
                    }
                    else{
                        alert("Cập nhật mật khẩu không thành công");
                    }
                })
                .catch(error =>{
                    alert("ERROR !!!")
                    window.location.reload();
                })
            }
            else{
                alert("Mật khẩu hiện tại không đúng")
            }
        })        
        .catch(error => {
            alert("ERROR !!!");
        })
    }

</script>
{{!-- --}}